@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans&display=swap');

main{ 
    font-family: 'Poppins', sans-serif;
    font-size:18px;
}

header, footer, h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
}


header, main, footer{
    margin: 1rem auto;
    max-width:1000px;
    padding:15px;
}

header, footer {
    text-align: center;
    background-color: #8fa2b8;
}

header {
    border-radius: 20px 20px 0 0;
}
main{
    background-color: #E7D2CC;
}

footer{
    border-radius: 0 0 20px 20px;
}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    color:white;
}

#selection_area select {
    padding:10px;
}


/*COntainers for Main*/
#forecast_box, #day_forecast {
    background-color: #b8b8b8;
    padding:5px;
    margin:5px;
    border:solid black 1px;
}



/*************CSS for Selection Area********************/

#selection_area{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
    text-align:center;
}



select {
    margin:15px;
}

#cityHeader {
    font-size: 25px;
}





/*************CSS for 5 day Boxes********************/
#forecast_box{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:1px;
    text-align:center;
}

.day_box{
    background-color: lightblue;
    margin:1px;
    padding:40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.fiveDayIcon{
    justify-self: center;
    width:80px;
}

.highLow{
    font-size: 14px;
}





/*************CSS for Daily Box********************/
#day_forecast {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    text-align: center;
}

#todayIcon{
    justify-self: center;
    width:200px;
}

#dailyHeading{
    font-size: 25px;
}

#weatherInfo{
    font-size:25px;
}

#weatherInfo #weatherDesc::first-letter{
    text-transform: uppercase;
}

















/*************TABLET VIEW********************/
@media screen and (min-width: 650px)
{
    /*************CSS for Selection Area********************/
    #selection_area{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    /*************CSS for 5 day Boxes********************/


    .fiveDayIcon{
        justify-self: center;
        width:110px;
    }


    /*************CSS for Daily Box********************/
    #day_forecast {
        grid-template-columns: 1fr 1fr;
    }

    #dailyHeading{
        grid-column:1/3;
        grid-row:1/2;
    }

    #todayIcon{
        grid-column:1/2;
        grid-row:2/3;
    }

    #weatherInfo{
        grid-column:2/3;
        grid-row:2/3;
    }

    .highLow{
        font-size: 15px;
    }

}






/*************LAPTOP VIEW********************/
@media screen and (min-width: 1200px) {
    /*************CSS for Selection Area********************/





    /*************CSS for 5 day Boxes********************/
    #forecast_box{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .day_box{
        display:grid;
        grid-template-columns: 1fr;
    }

    .fiveDayIcon{
        width: 100px;
    }


    /*************CSS for Daily Box********************/



}