header {
  border: 2px solid rgb(168, 168, 168);
  margin-bottom: -18px;
  border-radius: 5px 5px 0 0;

  h1 {
    text-align: center;
    padding: 10px;
    background-color: #1d1dce;
    color: rgb(230, 230, 230);
    border-radius: 4px 4px 0 0;
  }
}
