#selection_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: 25px 0;
}

#city_dropdown {
  padding: 8px;
  width:  275px;
  text-align: center;
  font-size: 18px;
}

@media screen and (min-width: 860px) {
  #city_dropdown {

    width:  325px;
  }
}